{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Daily Select Checkout
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 border-bottom border-secondary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand fw-bold" href="{% url 'product_list' %}">Daily Select</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/color-modes.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
</head>
<div class="container">
    <main>
        {% if cart_items %}
            <div class="py-5 text-center">
                <h1 class="h2">Checkout form</h1>
                <p class="lead">ご注文の確認と、お届け先・お支払い方法をご入力ください。</p>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill">{{ cart_items | length }}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for item in cart_items %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">{{ item.product.name }}</h6>
                                <small class="text-body-secondary">
                                    単価:
                                    {% if item.product.sale and item.product.sale_price %}
                                        <span class="text-decoration-line-through">
                                            ￥{{ item.product.price | intcomma }}
                                        </span>
                                        ￥{{ item.product.sale_price | intcomma }}
                                    {% else %}
                                        ￥{{ item.product.price | intcomma }}
                                    {% endif %}
                                    / 数量: {{ item.quantity }}
                                </small>
                                <div class="mt-1">
                                    <a href="{% url 'cart_item_delete' pk=item.pk %}"
                                       class="btn btn-sm btn-outline-danger py-0 px-1"
                                       onclick="return confirm('本当にカートから「{{ item.product.name }}」を削除しますか？');"
                                    >
                                        削除
                                    </a>
                                </div>
                            </div>
                            <span class="text-body-secondary">￥{{ item.subtotal | intcomma }}</span>
                        </li>
                        {% endfor %}

                        {% if cart_items %}
                            {% if discount > 0 %}
                                <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                                    <div class="text-success">
                                        <h6 class="my-0">プロモコード割引</h6>
                                        <small>{{ applied_promo.promo_code }}</small>
                                    </div>
                                    <span class="text-success">−￥{{ discount }}</span>
                                </li>
                            {% endif %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>合計(JPY)</span>
                                <strong>￥{{ total_price | intcomma }}</strong>
                            </li>
                        {% endif %}
                    </ul>

                    {% if cart_items %}
                        <form class="card p-2" method="post" action="{% url 'apply_promo' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text"
                                       name="promo_code"
                                       class="form-control"
                                       maxlength="7"
                                       placeholder="プロモコードを入力"
                                       value="">
                                <button type="submit" class="btn btn-secondary">使用する</button>
                            </div>
                            {% if form.promo_code.errors %}
                                <div class="invalid-feedback d-block">{{ form.promo_code.errors.0 }}</div>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">お届け先</h4>
                    <form class="needs-validation" method="post" action="{% url 'checkout' %}" novalidate>
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <div class="invalid-feedback d-block">{{ form.last_name.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <div class="invalid-feedback d-block">{{ form.first_name.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                <label for="{{ form.tel.id_for_label }}" class="form-label">{{ form.tel.label }}</label>
                                <div class="input-group has-validation">
                                    {{ form.tel }}
                                    {% if form.tel.errors %}
                                        <div class="invalid-feedback d-block">{{ form.tel.errors.0 }}</div>
                                    {% else %}
                                        <div class="invalid-feedback">必須です</div>
                                    {% endif %}
                                </div>
                                <small class="text-body-secondary d-block mt-1">{{ form.tel.help_text }}</small>
                            </div>

                            <div class="col-12">
                                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="invalid-feedback d-block">{{ form.email.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">有効なメールアドレスを入力してください</div>
                                {% endif %}
                            </div>

                            <div class="col-md-3">
                                <label for="{{ form.zip_code.id_for_label }}" class="form-label">{{ form.zip_code.label }}</label>
                                {{ form.zip_code }}
                                {% if form.zip_code.errors %}
                                    <div class="invalid-feedback d-block">{{ form.zip_code.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-12">
                                <label for="{{ form.address.id_for_label }}" class="form-label">{{ form.address.label }}</label>
                                {{ form.address }}
                                {% if form.address.errors %}
                                    <div class="invalid-feedback d-block">{{ form.address.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-12">
                                <label for="{{ form.address2.id_for_label }}" class="form-label">{{ form.address2.label }}</label>
                                {{ form.address2 }}
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">お支払い方法</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                                <label class="form-check-label" for="credit">Credit card</label>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="{{ form.cc_name.id_for_label }}" class="form-label">{{ form.cc_name.label }}</label>
                                {{ form.cc_name }}
                                <small class="text-body-secondary">{{ form.cc_name.help_text }}</small>
                                {% if form.cc_name.errors %}
                                    <div class="invalid-feedback d-block">{{ form.cc_name.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-md-6">
                                <label for="{{ form.cc_number.id_for_label }}" class="form-label">{{ form.cc_number.label }}</label>
                                {{ form.cc_number }}
                                {% if form.cc_number.errors %}
                                    <div class="invalid-feedback d-block">{{ form.cc_number.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-md-3">
                                <label for="{{ form.cc_expiration.id_for_label }}" class="form-label">{{ form.cc_expiration.label }}</label>
                                {{ form.cc_expiration }}
                                <small class="text-body-secondary d-block mt-1">{{ form.cc_expiration.help_text }}</small>
                                {% if form.cc_expiration.errors %}
                                    <div class="invalid-feedback d-block">{{ form.cc_expiration.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>

                            <div class="col-md-3">
                                <label for="{{ form.cc_cvv2.id_for_label }}" class="form-label">{{ form.cc_cvv2.label }}</label>
                                {{ form.cc_cvv2 }}
                                <small class="text-body-secondary d-block mt-1">{{ form.cc_cvv2.help_text }}</small>
                                {% if form.cc_cvv2.errors %}
                                    <div class="invalid-feedback d-block">{{ form.cc_cvv2.errors.0 }}</div>
                                {% else %}
                                    <div class="invalid-feedback">必須です</div>
                                {% endif %}
                            </div>
                        </div>

                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">購入する</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="py-5 text-center border bg-body-tertiary">
                <h3 class="mb-4">カートに商品が入っていません</h3>
                <p class="text-muted mb-4">お買い物を続けるには、商品一覧ページから商品を選択してください</p>
                <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg">商品一覧へ戻る</a>
            </div>
        {% endif %}
    </main>
</div>
{% block javascripts %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock javascripts %}
{% endblock %}
