{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Daily Select | {{ product.name }}
{% endblock %}

{% block content %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'product_list' %}">Daily Select</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'product_list' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0"
                     src="{% if product.image %}
                              {{ product.image.url }}
                          {% else %}
                              {% static 'img/no_image.png' %}
                          {% endif %}"
                     alt="{{ product.name }}"/>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">商品番号： {{ product.sku }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    {% if product.sale and product.sale_price %}
                        <span class="text-decoration-line-through">￥{{ product.price | intcomma }}</span>
                        <span>￥{{ product.sale_price | intcomma }}</span>
                    {% else %}
                        <span>￥{{ product.price  | intcomma }}</span>
                    {% endif %}
                </div>
                <p class="lead">{{ product.description }}</p>
                {% if product.is_in_stock %}
                    <div class="mb-3">
                        <span class="fw-bold">在庫数：</span>
                        <span class="text-muted">{{ product.stock }} 個</span>
                    </div>
                    <div class="d-flex">
                        <input class="form-control text-center me-3"
                               id="inputQuantity"
                            type="number"
                            value="1"
                            min="1"
                            max="{{ product.stock }}"
                            style="max-width: 5rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                {% else %}
                    <span class="text-danger">品切れ</span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">関連商品</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="position-relative">
                            {% if related_product.sale and related_product.sale_price %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                    セール
                                </div>
                            {% endif %}
                            <!-- Related items image-->
                            <img class="card-img-top"
                                src="{% if related_product.image %}
                                         {{ related_product.image.url }}
                                     {% else %}
                                         {% static 'img/no_image.png' %}
                                     {% endif %}"
                                alt="..." />
                            <!-- Related items details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Related items name-->
                                    <h5 class="fw-bolder">{{ related_product.name }}</h5>
                                    <!-- Related items price-->
                                    {% if related_product.sale and related_product.sale_price %}
                                        <span class="text-muted text-decoration-line-through">
                                            ￥{{ related_product.price | intcomma }}
                                        </span>
                                        ￥{{ related_product.sale_price | intcomma }}
                                    {% else %}
                                        ￥{{ related_product.price | intcomma }}
                                   {% endif %}
                                </div>
                            </div>
                            <!-- これとposition-relativeでカード全体がリンク化される -->
                            <a class="stretched-link" href="{% url 'product_detail' related_product.pk %}"></a>
                        </div>
                        <!-- Related items actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' related_product.pk %}">
                                    View options
                                </a>
                           </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="text-center text-muted my-3">
                    関連商品はありません。
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
