{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Daily Select Top
{% endblock %}

{% block content %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'product_list' %}">Daily Select</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'product_list' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Daily Select</h1>
            <p class="lead fw-normal text-white-50 mb-0">毎日をセレクトする、あなたの雑貨店。</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="position-relative">
                            <!-- Sale badge-->
                            {% if product.sale and product.sale_price %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                    セール
                                </div>
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top product-image"
                                 src="{% if product.image %}
                                          {{ product.image.url }}
                                      {% else %}
                                          {% static 'img/no_image.png' %}
                                      {% endif %}"
                                 alt="{{ product.name }}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                   <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    {% if product.sale and product.sale_price %}
                                        <span class="text-muted text-decoration-line-through">
                                            ￥{{ product.price | intcomma }}
                                        </span>
                                        ￥{{ product.sale_price | intcomma }}
                                    {% else %}
                                        ￥{{ product.price | intcomma }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- これとposition-relativeでカード全体がリンク化される -->
                            <a class="stretched-link" href="{% url 'product_detail' product.pk %}"></a>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto position-relative z-1" href="{% url 'product_detail' product.pk %}">
                                    View options
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="d-flex flex-column justify-content-center align-items-center
                    text-center">
                    <i class="bi-bag-x fs-1 opacity-50 mb-2"></i>
                    <h5>商品がありません</h5>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
